.sobre-nosotros {
    background-image: url(../multimedia/messi-copa-america-fondo.png);
    background-position: center;
    background-size: cover;
    font-family: "Nunito", sans-serif;
    color: #ebe1e1;
    padding: 20px;
    margin: 20px;
}
