/*productos*/

.grid-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    .card {
        border: 1px solid #ddd; 
        border-radius: 8px; 
        padding: 10px; 
        text-align: center; 
        background-color: #fff;
        cursor: pointer;

    
        img {
            width: 100%; 
            height: auto; 
            margin-bottom: 10px; 
        }
        
    }


    .producto {
    
        width: 200px;
        height: 200px;
        object-fit: cover;
        
    }
    
}
