.navbar-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;

    li a {
        display: block;
        text-align: center;
        padding: 14px 20px; 
        text-decoration: none; 
        transition: 0.5s;
    }

    li a:hover {
        background-color: rgb(144, 192, 166);
    }

    li a:visited {
        color: #000000fb;
    }
    
}