*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#logo  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 196, 186);

}

#logo img {
    width: 100px;
    height: 100px;
}


/*navbar*/

.navbar-nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;
}


.navbar-nav li a {
    display: block;
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none; 
}


.navbar-nav li a:hover {
    background-color: rgb(144, 192, 166);
}

.navbar-nav li a:visited {
    color: #000000fb;
}




/*inicio*/

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}

.presentacion {
    background-image: url(../multimedia/fondo\ titulo\ julian.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    
}

.presentacion-2 {
    background-image: url(../multimedia/messi-copa-mundial.jpg);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    margin-top: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: aliceblue;
    
}





/*fin inicio*/



/*productos*/

.grid-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 10px; 
    text-align: center; 
    background-color: #fff;
    
}

.card img {
    width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}

.producto {
    
    width: 200px;
    height: 200px;
    object-fit: cover;
}


h2 {
    font-family: "Nunito", sans-serif;
}

/*fin productos*/


/*inicio sobre nosotros*/

.sobre-nosotros {
    background-image: url(../multimedia/messi-copa-america-fondo.png);
    background-position: center;
    background-size: cover;
    font-family: "Nunito", sans-serif;
    color: #ebe1e1;
    padding: 20px;
    margin: 20px;
}



/*footer general*/

footer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    background-color: rgb(178, 196, 186); 
}

.social-media {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
}

.social-media li {
    margin: 0 10px; 
}

.social-media img {
    width: 80px; 
    height: auto;
}


.map {
    width: 100%; 
}

.map iframe {
    width: 100%; 
    height: 450px; 
    border: 0; 
}


/*fin sobre nosotros*/