*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#logo  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(178, 196, 186);

    img {
        width: 100px;
        height: 100px;
    }

}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}



h2 {
    font-family: "Nunito", sans-serif;
}
